<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/667f2140fc.js" crossorigin="anonymous"></script>
    <!-- Bootswatch template for Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Notify.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <title>Food Delivery - New Special Offer %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/dashboard">Food Delivery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">Orders</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link" href="/chat">Chat</a>
					</li>
                </ul>
                <a class="nav-link" style="color: white;" href="/logout">
                    Sign out </a>
            </div>
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">
                    Add product to <%=specialOffer.name %> Offer
                </h1>
                <form method="POST" action="/admin/addProductToOffer/<%= specialOffer._id %>">
                    <div class="form-group mb-2">
                        <select class="form-select" id="offerProduct" name="offerProduct">
                            <option disabled selected hidden>Select Product
                            </option>
                            <% products.forEach(product=> { %>
                                <option>
                                    <%= product.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/admin/dashboard">Finish</a>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/admin.js"></script>
</body>

</html>