<link rel="stylesheet" href="../stylesheets/style.css">
<div class="chat-container">
    <header class="chat-header">
        <h1><i class="fas fa-smile"></i> Chat</h1>
        <a href="../<%=type%>/dashboard" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
        <div class="chat-messages">
        </div>
    </main>
    <div class="chat-form-container">
        <form id="chat-form">
            <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
            <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>const user = JSON.parse('<%- JSON.stringify(user) %>');</script>
<script src="../javascripts/chat.js"></script>