<style>
    .mapboxgl-ctrl-geocoder {
        width: 100% !important;
        max-width: 600px !important;
        box-shadow: none !important;
    }

    .form-control {
        border: 1px solid #ced4da !important;
    }
</style>
<div>
    <button id="productSearch" type="button" class="btn btn-info">Search for products</button>
    <form method="post" action="/customer/productSearch" style="display: none">
        <div class="form-group">
            <input class="form-control" type="text" id="searchProduct" name="searchProduct"
                placeholder="Search by Product name">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
<div>
    <button id="productTypeSearch" type="button" class="btn btn-info">Search for products by type</button>
    <form method="post" action="/customer/productTypeSearch" style=" display: none">
        <div class="form-group">
            <input class="form-control" type="text" id="searchProductType" name="searchProductType"
                placeholder="Search by Product type">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
<% let lng, lat %>
    <% if (typeof user.location==='undefined' ) { %>
        <div id="locationSelect" class="row mb-2 mt-5">
            <form method="POST" action="/setLocation/<%= user._id %>">
                <div class="col" id="locationInputs">
                    <div id="geocoder" class="form-group mb-2"></div>
                    <div id="hiddenInputFields" style="display: none;">
                        <input type="text" name="address" id="address" />
                        <input type="text" name="lng" id="lng" />
                        <input type="text" name="lat" id="lat" />
                    </div>
                    <div id="hiddenDiv" style="display: none;" class="form-group mb-2">
                        <input type="text" id="streetNum" name="streetNum" class="form-control mb-2"
                            placeholder="... and street number" />
                        <button type="submit" class="btn btn-primary btn-block" id="submitBtn">
                            Submit
                        </button>
                    </div>
                    <p>Or set location on the map</p>
                </div>
                <div class="col" id="formMap" style="width: 100%; height: 360px; border-radius: 5px;"></div>
            </form>
        </div>
        <% } else { %>
            <% lng=user.location.lng %>
                <% lat=user.location.lat %>
                    <div id="customerMap" class="row mt-5 mb-2" style="width: 100%; height: 360px; border-radius: 5px;">
                    </div>
                    <div id="restaurantsData"></div>
                    <% } %>

                        <script src="/javascripts/geocode.js"></script>
                        <script src="/javascripts/airDistance.js"></script>
                        <script>
                            let lng = '<%- lng %>';
                            let lat = '<%- lat %>';
                            let restaurants = JSON.parse('<%- JSON.stringify(restaurants) %>');
                        </script>
                        <script src="/javascripts/customer.js"></script>